.jumbotron{
	background: orange;
	color: black;
	margin-top: 50px; 
}
.btn{
	border-color: black ;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-top: 10px;
	margin-bottom: 0px;
}
.card-hotel{
	flex: 1 150px;
	padding: 2px 2px 8px 2px;
	margin-top: 5px;
	
}

.btn-reserva{
	width: 100%;
	border-radius: 15px;
	
}
.btnReserva{
	color:green;
}

.tab-content{
	padding-top: 20px; 
}
.texto{
	justify-content-center;
}